.wrapper {
    height: var(--default-layout-header-height, 60px);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    display: flex;
    width: 100%;
    justify-content: center;

    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    .inner {
        height: 100%;
        width: var(--default-layout-width);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.action-btn {
    background-color: transparent;
    font-size: 2.2rem !important;
    color: #161823;
    padding: 4px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;

}

.action-btn.upload {
    font-size: 1.6rem !important;
    width: 116px;
    font-weight: 500;
    color: #161823;
    border: 1px solid rgba(22, 24, 35, 0.12);
    padding: 7px 12px;
    margin-right: 10px;
}

.action-btn.upload {
    .upload-icon {
        margin-right: 8px;
    }
}

.sup {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    left: 32px;
    background: rgb(254, 44, 85);
    min-width: 20px;
    height: 20px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 10px;
    position: absolute;
    top: -6%;
}

.user-avatar {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}

.more-btn {
    padding: 4px 8px;
    font-size: 2rem;
    margin-left: 28px;
    background-color: transparent;
    cursor: pointer;
}
